<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23633399985-sh0eautm6hrki7i231pmpbslmda9bjlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23633399985-sh0eautm6hrki7i231pmpbslmda9bjlj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23633399985-2f3kkhp3ak41v9an91g4aq34f206rhrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZSow36nBuDONHcQCgg2oHCcErTIJlD8w</string>
	<key>GCM_SENDER_ID</key>
	<string>23633399985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>af.securities.mobile_new</string>
	<key>PROJECT_ID</key>
	<string>arabfinance-620a3</string>
	<key>STORAGE_BUCKET</key>
	<string>arabfinance-620a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23633399985:ios:44eec838ed8c03e7779290</string>
</dict>
</plist>